<form method="post" action="/signup">
    <h2 class="title">Register</h2>
            <h5>Email</h5>
            <input type="text" name="username" id="email" class="input">
            <h5>Password</h5>
            <input type="password" name="password" id="pwd" class="input">
    <input type="submit" class="btn" value="Sign up">
    <div class="register">
        <h3>Already have an account? </h3>
        <a class="btn-register text-decoration-none" href="/">Sign in</a>
    </div>
</form>